@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Prosto+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("../../node_modules/fontsource-cascadia-mono/index.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

.text-gradient {
    color: white;
    background: linear-gradient(
        to top,
        rgba(168, 79, 171, 1),
        rgba(48, 186, 186, 1)
    );
    padding: 0 4px 0;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}
